lab05/project/myfusetransformerlab/src/data/event1.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="stock-id"/>
        <xs:element type="xs:string" name="stock-name"/>
        <xs:element type="xs:byte" name="quantity"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
  </xs:element>
</xs:schema>